/* html, body {
    margin: 0;
    padding: 0;
    background-image: url("bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #F4F4F4;
} */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
/* p{
    line-height: 30px;
    font-size: 17px;
} */



